.container {
    width: 700px;
    margin: auto;
    margin-top: 150px;
    border: #31045c;
    border-style: solid;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 40px 55px; /* reduced padding */
}

.container hr{
    height: 4px;
    border: none;
    background: #d1bdbd;
}
.container h1{
    text-align: center;
    color: #31045c;
}
.container h2{
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;

}
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;
}
.correct{
    background: #51aa45;
    border-color: #286d1f;
}
.wrong{
    background: #f80844;
    border-color: #570505;
}